body{
    margin: 0;
    padding: 0;
    background: #fff;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
p, h1, h2, h4, ul{
    padding: 0;
    margin: 0;
}
div,button{
    box-sizing: border-box;
}
.df{
    display: flex;
}
.dn{
    display: none;
}
.j-center{
    justify-content: center;
}
.a-center{
    align-items: center;
}
.f-wrap{
    flex-wrap: wrap;
}
.j-spc-btw{
    justify-content: space-between;
}
header{
    background: url('../img/header.png') no-repeat;
    max-width: 1442px;
    margin: 30px auto 0;
    border-radius: 18px;
    background-size: cover;
    position: relative;
}
.landing header{
    background: url('../img/landing/img1.png') no-repeat;
    background-size: cover;
    max-width: 1440px;

}
header:before{
    content: '';
    width: 100%;
    height: 100px;
    bottom: 0;
    background: #EBEFF2;
    position: absolute;
    z-index: -1;
}
.landing header:before{
    display: none;
}
nav{
    padding: 20px 64px;
    border-bottom: 1px solid #F0F0F0;

}
.landing nav{
    padding: 28px 40px;
    border-bottom: 0;
}
.nav__logo{
    margin-right: 20px;
}
.menu{
    list-style: none;
    gap: 20px;
}
.landing .menu{
    gap: 17px;
}
.menu__link{
    color: #fff;
    font-family: "Cuprum", sans-serif;
    font-weight: 700;
    line-height: 20px;
}
.nav__tel{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.nav__contact{
    gap: 15px;
    align-items: center;
}
.social{
    margin-left: 52px;
    gap: 16px;
}

.btn{
    border: 0;
    background: transparent;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 19px 24px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.landing nav .btn-orange{
    width: 154px;
    height: 45px;
    font-size: 12px;
    padding: 15px 24px;
    box-sizing: border-box;
    line-height: 14px;
    white-space: nowrap;
}
.landing .social{
    margin-left: 0;
    gap: 18px;
}
.landing .nav__contact{
    margin-left: auto;
    gap: 17px;
}
.landing .btn-orange{
    width: 297px;
}
.landing .social__icon:not(:first-child):after{
    display: none;
}
.landing .social__icon:after{
   right: -9px;
}
.landing .nav__logo{
    margin-right: 24px;
}
.landing .nav__logo a{
    text-align: center;
    width: 100%;
    display: flex;
}
.nav__logo p{
    max-width: 129px;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    font-weight:400;
    font-family: "Cuprum", sans-serif;
    padding-top: 8px;
    margin-top: 8px;
    border-top: 1px solid #fff;
}

.btn-yellow{
    background: #F9B807;
    border: 1px solid #979797;
    color: #1E1E1E;
    font-size: 16px;
    height: 56px;
    font-weight: 700;
    white-space: nowrap;
    width: 178px;
}
.banner{
    padding: 133px 65px 170px;
}
.banner h1{
    font-size: 63px;
    max-width: 562px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 77px;
    margin-bottom: 16px;
}
.landing .banner h1{
    max-width: 687px;
    margin-bottom: 32px;
}
.landing .banner{
    padding: 121px 65px 299px;
}
.banner p{
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    max-width: 457px;
    font-family: "Cuprum", sans-serif;
    font-weight: 400;
    margin-bottom: 32px;
}
.banner .btn-yellow{
    width: 260px;
    font-size: 18px;
    height: 60px;
}
.about__top{
    background: #EBEFF2;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    max-width: 1442px;
    margin: 0 auto 32px;
    padding: 48px 68px 32px;
}
.landing .about__top{
    border-radius: 18px;
    margin-bottom: 40px;
}
.section__title{
    text-align: center;
    color: #172D13;
    font-size: 45px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-bottom: 32px;
    text-transform: uppercase;
}

.about p{
    color: #161616;
    font-size: 24px;
    line-height: 29px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}
.landing .about p{
    margin-bottom: 56px;
}
.about p:nth-child(3){
    font-weight: 500;
    color: #172D13;
    margin-bottom: 16px;

}

.about a{
    color: #172D13;
    font-weight: 600;

}
.line{
    background: #D76F30;
    width: 50px;
    height: 5px;
    display: flex;
    margin-right: 16px;
}
.about p:last-child{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 0;
}
.about__bottom{
    margin: 0 auto 32px;
    max-width: 1442px;
    position: relative;
}
.landing .about__bottom{
    margin-bottom: 0;
}
.features{
    padding-top: 64px;
    margin: 0 auto 32px;
    max-width: 1442px;
}
.landing .features{
    padding-top: 120px;
}
.features__list{
    max-width: 1022px;
    margin: 0 auto;
    gap: 32px;
    text-align: center;
}
.landing .features__list{
    max-width: 100%;
}

.features__item{
    width: 231px;
    padding-top: 40px;
}
.landing .features__item{
    width: 251px;
}
.features__img{
    margin-bottom: 20px;
}

.features__item h4{
    color: #161616;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}
.choose__apartments{
    max-width: 1442px;
    margin: 0 auto 32px;
    background: #EBEFF2;
    border-radius: 18px;
    padding-bottom: 64px;
}
.landing .choose__apartments{
    background: #fff;
    margin-bottom: 60px;
    padding-bottom: 0;
}
.landing .choose__apartments .slick-next, .landing .choose__apartments .slick-prev {
    width: 52px;
    height: 52px;
    background: #D76F30;
    border-radius: 10px;
}
.landing .choose__apartments .slick-next{
    right: 29px;
}
.landing .choose__apartments .slick-prev{
    left: 29px;
}
.landing .choose__apartments .slick-prev:before {
    width: 12px;
    height: 20px;
    background: url(../img/arrow-left-white.svg);
}
.landing .choose__apartments .slick-next:before {
    width: 12px;
    height: 20px;
    background: url(../img/arrow-right-white.svg);
}
.choose__block .section__title{
    width: 100%;
    text-align: left;
    margin-top: 38px;
}
.landing .choose__block{
    background: #EBEFF2;
    border-radius: 18px;
    padding-bottom: 58px;

}
.landing .choose__block .section__title{
    margin-top: 54px;
    margin-bottom: 6px;
}
.choose__block{
    gap: 32px;
    padding-left: 65px;
    padding-right: 65px;
}
.apartment{
    background: #fff;
    border-radius: 18px;
    padding: 16px 24px;
    position: relative;
    z-index: 2;
}
.btn-dropdown{
    padding: 0;
    cursor:pointer;
}

.apartment__select{
    color: #161616;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 19px;
}
.apartment__btn{
    max-width: 291px;
    height: 40px;
    font-size: 28px;
    color: #161616;
    line-height: 21px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}
.landing .apartment__btn{
    max-width: 110px;
    width: 100%;
    font-size: 18px;
    line-height: 21px;
}



.apartment-selected{
    background: #D76F30;
    color: #fff;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.apartment__img{
    margin-top: -20px;
    z-index: 1;
    position: relative;
}
.landing .apartment__img{
    margin-top: 16px;
}
.apartment__floor{
    background: #fff;
    border-radius: 18px;
    padding: 16px 24px;
    margin-bottom: 16px;
}
.landing .apartment__select{
    margin-bottom: 0;
    position: relative;
    z-index: 10;
    padding-left: 16px;
}

.choose__right{
    max-width: 640px;
    width: 100%;
    position: relative;
}
.floor{
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1E1E1E;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
.landing .apartment__floor--date .floor{
    width: 100%;
    
}
.landing .apartment__floor--list{
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    z-index: 9;
    top: 29px;
    border-radius: 18px;
    padding: 24px 24px 16px;
}
.landing .apartment__list{
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    z-index: 9;
    top: 40px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    padding: 16px 24px 16px;
}
.floor--selected{
    background: #D76F30;
    color: #fff;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;
}
.apartment__floor--list{
    gap: 10px;
}
.apartment__title{
    color: #161616;
    font-size: 24px;
    margin-bottom: 16px;
    line-height: 29px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}
.room{
    padding: 12px 16px;
    color: #161616;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    width: 62px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 32px;
}
.room__active{
    background: #D76F30;
    border-radius: 8px;
    color: #fff;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;

}
.landing .choose__apartments .btn-orange{
    width: 100%;
}
.apartment__list--parking .apartment__btn{
    max-width: 100%;
    width: 100%;
    text-align: left;
    justify-content: flex-start;
    padding-left: 16px;
    margin-bottom: 0;
    margin-top: 0px;
    box-sizing: border-box;
}
.ui-widget.ui-widget-content{
    height: 4px;
    border: none;
}
.ui-slider-horizontal .ui-slider-range{
    background: #172D13;

}
.ui-state-default, .ui-widget-content .ui-state-default{
    background: #172D13;
    width: 24px;
    height: 24px;
    border: none;
    top: -11px;
}
.ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active,
.ui-state-default, .ui-widget-content .ui-state-active{
    background: #D76F30;
    border: none;
    outline: none;
}
.ui-widget-content{
    background: #D76F30;
}
.price__start, .price__end, .area__start, .area__end  {
    font-size: 14px;
    color: #172D13;
    line-height: 17px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}

#slider-area, #slider-level{

    width: calc(100% - 20px);
    margin: 30px  auto 0;
}
#slider-price, #slider-byn{

    width: calc(100% - 20px);
    margin: 30px  auto 0;

}
.apartment__price{
    margin-top: 27px;
}
.area__actions{
    gap: 24px;
}
.area__actions{
    margin-top: 22px;
}
.btn-green{
    font-size: 18px;
    color: #fff;
    background: #172D13;
    border-radius: 10px;
    border: 1px solid #979797;
    line-height: 21px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    width: 100%;
}
.btn-orange{
    font-size: 18px;
    color: #fff;
    background: #D76F30;
    border-radius: 10px;
    line-height: 21px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    width: 100%;
}
.plans{
    max-width: 1442px;
    margin: 0 auto;
    gap: 32px;
    position: relative;

}
.plans-overlay{
    position: relative;
}
.plans-overlay:after{
    content: '';
    position: absolute;
    right: 0;
    background: url('../img/plans-right-bg.png') no-repeat;
    background-position: right center;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}
.slick-next:before{
    content: '';
    background: url('../img/arrow-right.svg') no-repeat;
    width: 8px;
    height: 14px;
    display: flex;
}
.slick-prev:before{
    content: '';
    width: 8px;
    height: 14px;
    display: flex;

    background: url('../img/arrow-prev.svg') no-repeat;
}
.slick-prev{
    left: 15px;
}
.slick-next{
    right: 15px;
}
.slick-next, .slick-prev{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: #24242461;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.plans .section__title{
    width: 100%;
}
.plans__slider{
    width: 704px;
}
.plans__right{
    width: calc(100% - 736px);
    padding-top: 95px;
}
.landing .plans__right{
    padding-top: 0;
}
.landing .plans .section__title{
    margin-bottom: 95px;
}
.plans__right h4{
    font-size: 28px;
    color: #161616;
    line-height: 34px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 40px;
}
.landing .plans__right h4{
    text-transform: uppercase;
}
.plans__right p{
    color: #161616;
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
}
.landing .plans__right p{
    font-weight: 400;
}
.landing .plans__right .btn-orange{
    width: 100%;
    margin-top: 56px;
}
.landing .plans__right p.small{
    font-style: italic;
    font-size: 16px;
    line-height: 19px;
    margin-top: 40px;
}
.plans__right ul{
    color: #161616;
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 40px;
    padding-left: 40px;
}
.slider-nav .slick-current img{
    border: 4px solid #D76F30;
    box-sizing: border-box;
}
.landing .info{
    margin-top: 80px;
}
.info{
    max-width: 1442px;
    margin: 64px auto 32px;
    background: #EBEFF2;
    border-radius: 18px;
    padding: 39px 65px 62px;
    gap: 40px;
    position: relative;
    align-items: flex-start;

}
.fw{
    width: 100%;
}
.info__left, .info__right{
    width: calc(100%/2 - 40px) ;
    position: relative;

}
.landing .info__left{
    max-width: 688px;
    width: 100%;
}
.landing .info__right{
    width: calc(100% - 728px) ;
}
.landing .info__left:after{
    bottom: -43px;
}
.info .section__title{
    position: relative;
    z-index: 1;
}
.info:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 471px;
    height: 156px;
    background: url('../img/info-bg.svg');
    z-index: 0;
}
.info__left p{
    color: #161616;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    position: relative;
    padding-top: 68px;
}
.landing .info__left p{
    font-size: 32px;
    line-height: 39px;
}
.info__left:before{
    content: '';
    background: url('../img/comment.svg');
    width: 105px;
    height: 74px;
    position: absolute;
    top: -40px;
}
.info__left:after{
    content: '';
    background: url('../img/comment.svg');
    width: 105px;
    height: 74px;
    position: absolute;
    bottom:-30px;
    right: 0;
    transform: rotate(180deg);
}
.btn-play{
    position: absolute;
    background: #D76F30;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-play:after{
    background: url('../img/play.svg') no-repeat;
    content: '';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 32px;
    left: 27px;
}
.gallery{
    max-width: 1442px;
    margin: 0 auto;

}
.gallery__tabs{
    list-style: none;
    margin-bottom: 32px;
    width: 100%;
    border-radius: 18px;
    gap: 25px;
    justify-content: space-between;
    margin-top: 8px;
    background: #EBEFF2;
    overflow: hidden;

}
.tab__item{
    padding: 19px 32px;
    color: #161616;
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    line-height: 21px;
    cursor: pointer;
}
.tab__item-selected{
    color: #fff;
    background: #D76F30;
}
.life{
    max-width: 1442px;
    margin: 51px auto 0;

}
.life .section__title{
    text-align: left;
    margin-bottom: 19px;
}
.gallery .section__title{
    text-align: left;
    margin-top: 19px;
    margin-bottom: 19px;
}
.gallery .slick-next, .gallery .slick-prev{
    width: 52px;
    height: 52px;
    background: #D76F30;
    border-radius: 10px;
}
.gallery .slick-next:before{
    width: 12px;
    height: 20px;
    background: url('../img/arrow-right-white.svg');
}
.gallery .slick-prev:before{
    width: 12px;
    height: 20px;
    background: url('../img/arrow-left-white.svg');
}
.map{
    max-width: 1442px;
    margin: 32px auto;
    border-radius: 32px;
    overflow: hidden;
}
footer{
    background: #EBEFF2;
    padding: 32px;
    margin-top: 32px;
}
.btn:before, .apartment-selected:before, .floor--selected:before, .room__active:before{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-30deg);
    animation: bn1;
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0) 100%);
    animation: bn1 2s infinite linear;
    animation-delay: 1s;
    animation-duration: 4.5s;
}
@keyframes bn1 {
    0%{
        left: -150%;
    }
    30%{
        left: 150%;
    }
    100% {
        left: 150%;
    }
}
.footer__bottom{
    max-width: 1422px;
    margin: 0 auto;
    border-top: 1px solid #DBDBDA;
    padding-top: 32px;
}
.footer__menu{
    gap: 36px;
    list-style: none;
}
.footer__menu .menu__link{
    color: #373737;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}
.footer__info p{
    color: #B4BBC0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-top: 38px;
}
.footer__social{
    margin-top: 8px;
   gap: 20px;
}
.footer__social a{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.social__icon{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.social__icon:after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    right: -10px;
    background: #fff;
}
.social__icon:last-child:after{
    display: none;
}
.footer__social a:after{
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    right: -10px;
    background: #9E9E9E;
}
.footer__social a:last-child:after{
    display: none;
}
.footer__top{
    max-width: 1422px;
    margin: 0 auto;
    gap: 46px;
}

.footer__top span{
    color: #A7B0B6;
    font-size: 21px;
    line-height: 26px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-bottom: 4px;

}
.footer__top h4{
    color: #172D13;
    font-size: 21px;
    line-height: 26px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-bottom: 29px;
}
.footer__left{
    max-width: 527px;
    
}
.qr{
    background: #fff;
    padding: 22px 26px;
    border-radius: 14px;
    gap: 19px;
    margin-bottom: 29px;
}
.qr__left{
    max-width: 134px;
}
.qr h2{
    color: #172D13;
    font-size: 27px;
    line-height: 33px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 19px;
}

.footer__midd{
    max-width: 417px;
    width: 100%;
}
.footer__midd p {
    color: #373737;
    font-size: 13px;
    line-height: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 17px;
}
.form-control{
    border: 1.64px solid #666666;
    padding: 8px 15px;
    border-radius: 7px;
    gap: 10px;
}

.form-control .btn-green{
    width: 132px;
    height: 45px;
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    gap: 8px;
    border-radius: 36px;
    padding: 0;
}
.form-control input{
    background: transparent;
    border: none;
    width:calc(100% - 142px);
    font-size: 14px;
    color: #373737;
}

.footer__midd input[type=checkbox]{
    width: 21px;
    height: 21px;
    border-radius: 4px;
    background: transparent;
    margin-top: 20px;
    margin-right: 3px;
}
.footer__midd label{
    margin-top: 17px;
    color: #B3BABF;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    line-height: 14px;
}
.footer__midd a{
    color: #6E6B67;
    text-decoration: underline;
}
.office{
    gap: 25px;

}
.office__right{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    margin-top: 41px;
}
.btn-outline{
    border: 0.82px solid #161616;
    padding: 0;
    width: 118px;
    height: 35px;
    font-size: 13px;
    line-height: 16px;
    border-radius: 36px;
    margin-top: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #161616;
    gap: 8px;
}
.qr__right p{
    color: #A7A7A7;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}
.qr__left p{
    color: #00000066;
    font-size: 12px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;

}

.footer__left .btn-orange{
    font-size: 13px;
    line-height: 16px;
    height: 51px;
    gap: 11px;
    padding: 16px;
    margin-bottom: 32px;
}
.landing .footer__left .btn-orange{
    width: 100%;
}
.palns__room-list{
    position: absolute;
    left: 0;
    flex-direction: column;
    gap: 2px;
    z-index: 10;
}
.palns__room-list div{
    width: 62px;
    height: 50px;
    background: #EBEFF2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #161616;
    font-size: 18px;
    line-height: 500;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
.palns__room-list h2{
    max-width: 152px;
    color: #161616;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 16px;
}
.palns__room-list div.selected{
    border-radius: 8px;
    background: #D76F30;
    color: #fff;
}
.choose__left{
    width: calc(100%/2 - 32px);
}
#map {
    height: 100%;
}
[class*="copyrights-pane"] {
    display: none !important;
}
.ymaps-2-1-79-ground-pane {
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1) grayscale(1) invert(80%);
}
.tn-elem__4346096441649723484272 {
    mix-blend-mode: difference;
    pointer-events: none;
}
.landing .ymaps-2-1-79-ground-pane{
    filter: grayscale(0) grayscale(0) invert(0);
}
.point{
    width: 49px;
    height: 38px;
    border-radius: 89px;
    background: #D76F30;
    color: #fff;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 2;
}
.point:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    width: 76px;
    height: 76px;
    border-radius: 100%;
    opacity: 45%;
    background: #D76F30;

}
.point__left{
    right: 27%;
    top: 45%;
}
.point__right{
    right: 13%;
    top: 57%;
}
.apartment__floor--list.close{
    display: none;
}
.apartment__list.close{
    display: none;
}
.apartment__select.close .btn-dropdown{
    transform: rotate(180deg) ;
}
.CallMe_back_modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #6c6c6cc7;
    z-index: 12121;
    overflow: auto;
    /*display: none;*/
}

.CallMe_back_modal_body {
    width: 100%;
    background: white;
    box-shadow: 0px 22.07px 55.18px -11.04px #585c5f29;
    max-height: 100vh;
    overflow: auto;
    max-width: 740px;
    /* height: 595px; */
    overflow: auto;
    border-radius: 16px;
    padding-bottom: 15px;
}
.callMe_header {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}
.header_bodyBig {
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin: auto;
    margin-top: 20px;
    color: black;
}
.navbar a {
    text-decoration: none;
}
.headerText h3 {
    font-family: Montserrat;
    font-size: 22.07px;
    font-weight: 600;
    line-height: 33.11px;
    letter-spacing: -0.011em;
    text-align: left;
    margin-bottom: 6px;
    margin-top: 0;
}
.headerText span {
    font-family: Montserrat;
    font-size: 19.31px;
    font-weight: 400;
    line-height: 27.59px;
    letter-spacing: -0.03em;
    text-align: left;
}
.header_bodyBig .bx-x {
    font-size: 27px;
}
.lineBottom {
    width: 100%;
    height: 1px;
    border-top: 1.38px solid var(--stroke-soft-200, #e2e4e9);
}
.ImgDesign {
    position: absolute;
    width: 26%;
    margin-top: -34px;
}
.ClickButtonsBig button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 2.76px 5.52px 0px #ffffff05;
    background-color: #303030;
    height: 39.04px;
    border-radius: 4px;
    font-family: Inter;
    font-size: 19.31px;
    font-weight: 500;
    line-height: 27.59px;
    letter-spacing: -0.006em;
    text-align: left;
    color: white;
    border: 1px solid #303030;
}
.ClickButtonsBig {
    display: grid;
    grid-template-columns: 2fr 1.6fr 1.3fr 1fr;
    width: 98%;
    margin: auto;
    /* margin-top: 35px; */
    position: relative;
    z-index: 1112;
    gap: 5px;
}
.bigWith_back {
    width: 92%;
    margin: auto;
    background: #e2e4e9;

    margin-top: 26px;
    min-height: 49px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    align-items: center;
}
.inputGrey {
    display: flex;
    align-items: center;
    width: 98% !important;
    margin: auto;
    border: 1px solid var(--stroke-soft-200, #f5f5f5);
    background: #f5f5f5;
    height: 50px;
    border-radius: 6px;
    padding-left: 17px;
    gap: 11px;
    position: relative;
    z-index: 1;
    margin-top: 4px;
}
.inputGrey .bx-user {
    font-size: 27px;
    color: var(--icon-soft-400, #868c98);
}

.inputGrey input {
    width: 88% !important;
    height: 30px;
    border: none;
    outline: none;
    background: none;
    font-family: Inter;
    font-size: 19.31px;
    font-weight: 400;
    line-height: 27.59px;
    letter-spacing: -0.006em;
    text-align: left;
}
.extraGreyInp:hover {
    background-color: #cacaca;
}
.inputWith_login label {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    letter-spacing: -0.006em;
    text-align: left;
    color: white;
}
.inputWith_login {
    width: 92%;
    margin: auto;
    margin-top: 31px;
}
.inputWith_login label span {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    letter-spacing: -0.006em;
    text-align: left;
}

.inputWith_login1 label {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    letter-spacing: -0.006em;
    text-align: left;
    color: white;
}
.inputWith_login1 .Country_input {
    background: #e2e4e9;
}
.inputWith_login1 .Country_input .bx-chevron-down {
    color: black;
}
.inputWith_login1 {
    width: 92%;
    margin: auto;
    margin-top: 28px;
}
.inputWith_login1 label span {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    letter-spacing: -0.006em;
    text-align: left;
}

.callModal_bottom h4 {
    color: white;
    width: 92%;
    margin: auto;
    font-family: Inter;
    font-size: 19.31px;
    font-weight: 400;
    line-height: 27.59px;
    letter-spacing: -0.006em;
    text-align: left;
    margin-top: 27px;
}
.FullWidth_btn {
    overflow: hidden;
    position: relative;
}
.FullWidth_btn button {
    width: 97%;
    height: 43px;
    background: none;
    border-radius: 10px;
    border: 1px solid #f8b806;
    transition: 0.3s;
}
.FullWidth_btn button:hover {
    border: 1px solid black;
}
.ClickButtonsBig-button.active {
    background-color: #424242 !important;
    color: #fff !important;
}
.ClickButtonsBig-button {
    background-color: rgb(226, 228, 233) !important;
    border: 1px solid rgb(226, 228, 233) !important;
    color: black !important;
}

.Country_input {
    background: white;
    width: 77%;
    padding-left: 10px;
    height: 56px;
    border-radius: 10px;
    margin-top: 21px;
    outline: none;
    gap: 10px;
    display: grid;
    grid-template-columns: 77px 50px auto;
    align-items: center;
    position: relative;
}
.Country_input2 {
    background: none;
    width: 100%;
    padding-left: 0px;
    height: 56px;
    border-radius: 10px;
    margin-top: 0px;
    outline: none;
    gap: 10px;
    display: grid;
    grid-template-columns: 77px 50px auto;
    align-items: center;
    position: relative;
}
.Country_input__modal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
    border-radius: 10px;
    background: #1e1e1e;
    overflow: hidden;
    display: none;
}
.Country_input__modal__option {
    width: 90%;
    margin: auto;
    padding-left: 0;
    padding-right: 5%;
    cursor: pointer;
    height: 56px;
    gap: 10px;
    display: flex;
    align-items: center;
}
.Country_input__modal__option:hover {
    background-color: #242424;
}
.Country_input__modal__select {
    display: flex;
    gap: 10px;
    align-items: center;
}
.Country_input__modal__active {
    width: 90%;
    margin: auto;
    height: 56px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    cursor: pointer;
    color: white;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Country_input_action {
    display: flex;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: space-around;
}
.Country_input input {
    background-color: #24242400;
    border: none;
    outline: none;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    line-height: 21.94px;

    color: #858585;
}
.Country_input__phone {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: center;
    color: #858585;
}
.universal__title_second {
    color: white;
}
.universal__title_second span {
    color: #f8a606;
}
.FullWidth_btn {
    width: 92%;
    margin: auto;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.68px;
    background: #f8b806;
    height: 56px;
    border-radius: 10px;
    margin-top: 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mymap{
    height: 100%;
    width: 100%;
    max-width: 1440px;
}