@media  screen  and (max-width: 1440px){

    nav{
        padding-left: 20px;
        padding-right: 20px;
    }
    .choose__block, .about, .plans, .info,  .gallery {
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav__contact{
        margin-left: auto;
    }
    .social{
        margin-left: 20px;
    }
    .info__left:after{
        background-size: 60%;
        background-repeat: no-repeat;
        bottom: -50px;
    }
    .info__left:before{
        background-size: 60%;
        background-repeat: no-repeat;
        top: -20px;
    }
    .about{
        padding: 0;
    }

}
@media screen and (max-width: 1300px) {
    .nav__tel{
        font-size: 16px;
    }
    .menu__link{
        font-size: 14px;
    }
    .menu{
        align-items: center;
    }
    nav .btn-yellow{
        font-size: 12px;
        width: auto;
    }
    .choose__right{
        width: calc(100%/2 - 32px);
    }

}
@media  screen  and (max-width: 1024px){
    .mobile__menu--open{
        display: block;
    }
    .nav__menu{
        display: none;
    }
    .social{
        display: none;
    }
    nav .btn-yellow{
        display: none;
    }
    .footer__menu{
        flex-wrap: wrap;
    }
    .plans__slider{
        max-width: 500px;
        width: 100%;
    }
    .plans__right{
        width: 40%;

    }
    .plans__right p, .plans__right ul{
        font-size: 18px;
    }
    .features__list{
        justify-content: center;
    }
    .features__item{
        width: 20%;
    }
    nav.opened{
        background: #242424;
        flex-wrap: wrap;
        position: absolute;
        width: 100%;
        left: 0;
        box-sizing: border-box;
        z-index: 9;
        border-bottom: 0;
    }
    nav.opened .nav__logo{
        width: 100%
    }
    nav.opened .nav__menu{
        display: flex;
        width: 100%;
    }
    nav.opened .nav__menu .menu{
        flex-direction: column;

        width: 100%;

        background: #242424;

    }
    nav.opened .nav__tel{
        display: none;
    }
    nav.opened .mobile__menu--close{
        position: absolute;
        top: 30px;
        right: 20px;
    }
    .nav.opened .nav__contact{
        width: 100%;
        margin-top: 30px;
        flex-direction: column;
    }
    nav.opened .social{
        display: flex;

        width: 100%;

        align-items: center;
        justify-content: center;
        margin-left: 0;
        background: #242424;
    }
    nav.opened .social__icon{
        width: auto;
        height: auto;
    }
    nav.opened .btn-yellow{

        display: flex;

    }
    .info__left:after, .info__left:before{
        background-size: 50%;
        background-repeat: no-repeat;
    }
    .info__left p   {
        padding-top: 30px;
    }
    .footer__top{
        flex-wrap: wrap;
    }
    .footer__left{
        max-width: 100%;
    }
    .footer__midd{
        max-width: 100%;
    }
    header{
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    nav{
        background: #fff;
    }
    .dark{
        display: flex;
    }
    .light{
        display: none;
    }
    .nav__tel{
        color: #172D13;

    }
    nav.opened .dark{
        display: none;
    }
    nav.opened .light{
        display: flex;
    }

}
@media  screen  and (max-width: 900px){
    .banner h1{
        font-size: 48px;
        line-height: 57px;
    }
    .section__title{
        font-size: 28px;
    }
    .about p{
        font-size: 18px;
    }
    .features__item h4{
        font-size: 18px;
    }
    .floor{
        width: 50px;
    }
    .area__actions{
        flex-direction: column;
    }
    .plans__left{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .plans__right{
        width: 100%;
        padding-top: 32px;
    }
    .info__left{
        width: 100%;
    }
    .info__left p{
        font-size: 18px;
    }
    .info__right{
        margin: 0 auto;
    }

    .footer__right{
        margin-bottom: 32px;
    }

    .footer__bottom--right{

        margin: 20px auto 0;
    }
    .apartment__btn{
        font-size: 16px;
    }
    .footer__menu{
        flex-direction: column;
    }
    .footer__bottom{
        position: relative;
    }
    .footer__social{
        position: absolute;
        top: 20px;
    }

}
@media  screen  and (max-width: 768px){
    .choose__left{
        width: 100%;
    }
    .choose__right{
        width: 100%;
    }
    .features__item {
        width: 40%;
    }
    iframe{
        height: 300px;
    }
    header{
        margin-top: 0;
    }

}
@media  screen  and (max-width: 600px){
    .info:before{
        width: 100%;
    }
    .info__right{
        width: 100%;
    }
    .banner{
        padding: 0 ;
    }
    nav{
        padding-right: 15px ;
    }

    .banner img{
        display: block;
    }
    header{
        background:none;
    }
    .banner h1{
        color: #172D13;
        font-size: 32px;
        line-height: 39px;
        margin-top: 20px;
        margin-bottom: 12px;
        padding: 0 20px;

    }
    .banner p{
        color: #172D13;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 20px;
        padding: 0 20px;
    }
    .banner .btn-yellow{
        width: calc(100% - 40px);
        margin: 0 auto 60px;
        font-size: 15px;
    }

    .about{
        display: flex;
        flex-direction: column-reverse;

    }
    .about__top{
        border-radius: 18px;
        padding: 20px 20px 60px;
    }
    .features__banner{
        display: block;
        text-align: center;
    }
    .features__item{
        display: none;
    }
    .features__item:first-child, .features__item:nth-child(2){
        display: block;
    }
    .apartments__banner{
        display: none;
    }
    .choose__block .section__title{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0;
    }
    .choose__left{
        display: flex;
        flex-direction: column-reverse;
    }
    .apartment__img{
        margin-top: 0;
    }
    .floor {
        width: 46px;
    }
    .choose__apartments{
        margin-bottom: 60px;
    }
    .plans-overlay:after{
        background: url('../img/plans-right-bg.svg') right bottom;
        bottom: 0;
        background-size: 58%;
        background-repeat: no-repeat;
        opacity: 0.3;
    }
    .section__title, .plans__right h4{
        font-size: 28px;
        text-align: center;
    }
    .plans .section__title{
        margin-bottom: 0;
    }
    .plans__right .btn-orange{
        font-size: 16px;
    }
    .info .section__title{
        order: 1;
        margin-bottom: 0;
    }
    .info .info__left{
        order: 3;
    }
    .info .info__right{
        order: 2;
    }
    .info__left p{
        font-size: 16px;
    }
    .info__left:after{
        display: none;
    }
    .gallery .section__title{
        text-align: center;
        margin-top: 50px;
    }
    .gallery .slick-next, .gallery .slick-prev{
        width: 40px;
        height: 40px;
    }
    .gallery .slick-next{
        right: 0;
    }
    .gallery .slick-prev{
        left: 0;
    }
    .gallery{
        padding: 0;
    }
    .qr{
        flex-direction: column;
    }
    footer{
        padding: 20px;
    }
    header:before{
        display: none;
    }
    .point{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        font-size: 12px;
        line-height: 19px;
    }
    .point:before{
        width: 50px;
        height: 50px;
    }
    .point__right {
        right: 11%;
        top: 45%;
    }
    .point__left {
        right: 27%;
        top: 32%;
    }
}
@media  screen  and (max-width: 360px){
    .point__right {
        right: 13%;
        top: 45%;
    }
    .point__left {
        right: 42%;
        top: 34%;
    }
.about__bottom img{
    height: 328px;
    object-fit: cover;
    object-position: 88% 100%;
}
}